.span{
    cursor:pointer;
}
.login{
    background: url(../../images/bannerbackground.png);
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: center center;
    overflow-y: hidden;
}
.login-container form{
    max-width: 400px;
    margin:0 auto;
}
.social{
    background-color: #f16783;
    color:white;
    border-radius: 10px;
}